<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/teacher_register.css') }}">

<div class="register-container">

    <h2>Teacher Registration</h2>

    <form action="/teacher_register" method="POST" enctype="multipart/form-data">

        <label>Full Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Mobile Number</label>
        <input type="text" name="mobile" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Confirm Password</label>
        <input type="password" name="confirm_password" required>

        <!-- <label>Upload Aadhaar Card</label>
<input type="file" name="aadhaar" required>

<label>Upload B.Ed / D.Ed Certificate</label>
<input type="file" name="certificate" required> -->

        <div class="terms">
            <label class="terms-label">
                <input type="checkbox" required>
                <span>I agree to Terms & Conditions</span>
            </label>
        </div>
        <button type="submit">Submit Application</button>

    </form>

</div>