:root{

--bg-main:#f4f6f9;
--bg-card:#ffffff;
--bg-header:#0f172a;
--bg-sidebar:#1e293b;

--text-main:#111827;
--text-light:#ffffff;

--primary:#2563eb;
--border:#e5e7eb;

}

/* DARK MODE */

[data-theme="dark"]{

--bg-main:#020617;
--bg-card:#1e293b;
--bg-header:#020617;
--bg-sidebar:#020617;

--text-main:#e2e8f0;
--text-light:#ffffff;

--primary:#3b82f6;
--border:#334155;

}

:root{

--bg-main:#f4f6f9;
--bg-card:#ffffff;
--text-main:#0f172a;
--text-light:#64748b;

--primary:#2563eb;
--secondary:#38bdf8;

}


[data-theme="dark"]{

--bg-main:#020617;
--bg-card:#0f172a;
--text-main:#e2e8f0;
--text-light:#94a3b8;

--primary:#38bdf8;
--secondary:#0ea5e9;

}